@use "../styles/variables";


@mixin button-styles{
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background-color: variables.$vvblue;
    padding: 15px 10px;
    color:#ffffff;
    max-width:200px;
    margin:auto;
    box-shadow: variables.$vvshadow;
    min-width: 170px;


    &:hover {
        background-color: variables.$vvlightblue;
        box-shadow: variables.$vvshadowdark;
      }

}
