$vvdarkblue: #16375D;
$vvblue:#125DB3;
$vvlightblue: #0077FF;

$vvlightgrey:#FAFAFA;
$vvgrey: #707070;
$vvdarkgrey:#2C2C2C;

$vvgreen: #289A58;

$vvyellow: #FFC400;

$vvred: #E0040B;

$vvshadow: 0px 1px 4px 0px rgba(0,0,0,0.21);
$vvshadowdark: 0px 1px 4px 0px rgba(0,0,0,0.5);
