<div class="construction">
  <div class="header-nav">
    <div><img class="logo" src="../../../assets/home/VV_Logo_Reversed@2x.png" alt="Voter's Voice Initiative" width="120"
      height="auto"></div>
    <div class="nav_links"><a href="about">About</a></div>
    <div class="nav_links"><a href="faq">FAQ</a></div>
  </div>
  <img class="crane" src="../../../assets/under-construction/under-construction.png"  width="67%" height="auto" alt="crane"/>
  <div class="construction-box">
   
    <p class="h-sub">This page is</p>
    <h1>
      Under Construction
    </h1>
  </div>
</div>
