@use "../../styles/variables";
@use "../../styles/elements";
@use "../../styles/global";


.construction{

    width:100%;
    height: 100%;
    margin:auto;
    background-color: variables.$vvbackground;


    .construction-box{
        margin:auto;
        max-width: 300px;
    }

}
.crane{
    margin:20vh auto 10px auto;
    width:200px;
    height:auto;
    display: block;
}

