<div class="candidate-details">
  
  <gql-candidate-details-header
    [candidateId]="candidateId"
  ></gql-candidate-details-header>

  <mat-tab-group dynamicHeight mat-align-tabs="space-around" mat-align-tabs="start">
    <mat-tab label="Raised v. Spent">
      <ng-template matTabContent>
        <details-tab-raised-v-spent  class="details-tab"
          [candidateId]="candidateId"
        ></details-tab-raised-v-spent>
      </ng-template>
    </mat-tab>

    <mat-tab label="By Occupation">
      <ng-template matTabContent>
        <contributions-by-occupation-tab  class="details-tab"
          [candidateId]="candidateId"
        ></contributions-by-occupation-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="By Location">
      <ng-template matTabContent>
        <contributions-by-location-tab class="details-tab"
          [candidateId]="candidateId"
        ></contributions-by-location-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="Outside Money">
      <ng-template matTabContent>
        <details-tab-outside-money class="details-tab"
          [candidateId]="candidateId"
        ></details-tab-outside-money>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
