<div class="candidate-cards">
  <app-candidate-card-expanded *ngIf="isExpanded" [candidate]="candidate"></app-candidate-card-expanded>
  <app-candidate-card (emitCandidateData)="getCandidate($event)"></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
  <app-candidate-card></app-candidate-card>
</div>

