<!-- <div class="candidate-cards p-grid p-nogutter">
  <app-candidate-card-expanded class="p-col-12" *ngIf="isExpanded" [candidate]="candidate" (isExpanded)="onClose($event)"></app-candidate-card-expanded>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4" (emitCandidateData)="getCandidate($event)"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card>
  <app-candidate-card class="p-col-12 p-lg-2 p-md-4"></app-candidate-card> -->
<div class="candidate-cards">
  <app-candidate-card imageUrl="assets/candidates/2020/mayor/barbara_bry/barbara_bry.png" jsonFile="barbara_bry/barbara_bry.json"></app-candidate-card>
  <app-candidate-card imageUrl="assets/candidates/2020/mayor/tasha_williamson/tasha_williamson.png" jsonFile="tasha_williamson/tasha_williamson.json"></app-candidate-card>
  <app-candidate-card imageurl="assets/candidates/2020/mayor/todd_gloria/todd_gloria.png" jsonFile="todd_gloria/todd_gloria.json"></app-candidate-card>
</div>

