<div class="about_container">
  <about-project></about-project>

  <div class="about">
    <h1>About Us</h1>
    <p class="about_caption">{{ caption }}</p>
    <div class="orgs">
      <div>
        <a href="https://github.com/opensandiego/">
          <img src="../../../assets/about/osd.svg" width="auto" height="50" alt="Open San Diego" />
        </a>
        <p>
          <a href="https://github.com/opensandiego/">Open San Diego</a> is a
          group of San Diegans who believe data and technology can better serve
          citizens, sparking a more vibrant democracy and civic life. We are a
          brigade of the national, non-partisan Code for America, leveraging
          their resources, but keenly focused on improving local issues here at
          home.
        </p>
      </div>
      <div>
        <a href="https://represent.us/"><img src="../../../assets/about/repus-sd.svg" width="auto" height="50"
            alt="Represent Us - San Diego chapter" /></a>
        <p>
          Represent San Diego is the local chapter of
          <a href="https://represent.us/">RepresentUs</a>, a national
          non-partisan organization with members from all backgrounds working to
          defend democracy, root out corruption, and build a political system
          that truly serves the public.
        </p>
      </div>
      <div>
        <a href="https://lwvsandiego.org/"><img src="../../../assets/about/lwvsd.svg" width="auto" height="50"
            alt="The League of Women Voters of San Diego" /></a>
        <p>
          <a href="https://lwvsandiego.org/">The League of Women Voters of San Diego</a>
          challenges all efforts and tactics that threaten our democracy and
          limit the ability of voters to exercise their right to vote.
        </p>
      </div>
      <div>
        <!-- blank used to push next section below previous section -->
      </div>

      <div class="history">
        <div class="history_text">
          <h1>History</h1>
          <p>
            This site was developed as a collaboration between the Voters' Voice
            Initiatives, a non-partisan community group advocating for election
            reform, and Open San Diego, a former brigade of the national,
            non-partisan Code for America.
          </p>

          <p>
            In 2025,
            <a href="https://representsandiego.org/">Represent San Diego</a>,
            one of the founders of Voters' Voice, assumed sole hosting duties
            for the site. If you value our efforts to bring additional
            transparency to elections in the city of San Diego, please consider a
            <a href="https://www.paypal.com/ncp/payment/UVV42QBSGDTT6">donation to our organization</a>.
          </p>

          <p>
            In 2026, the League of Women Voters of San Diego funded new features
            that let users compare candidates through charts showing independent
            expenditure spending and contributions from inside versus outside
            the city.
          </p>
        </div>
      </div>
    </div>
    <div class="transparent">
      <div class="transparent_copy">
        <h1>We Fight for Transparency</h1>
        <p>
          Currently, campaign finance information for candidates running for
          local offices as well as money spent by outside groups to support or
          defeat them is not readily accessible to the public. When the amount
          of money being spent as well as the source is not known, voters feel
          disenfranchised by the election process. Making campaign finance data
          easy to find and read will increase public trust and confidence in the
          election process.
        </p>
      </div>
      <div class="transparent_photo">
        <img src="../../../../assets/about/VV_FooterBG-AboutUs.png" width="100%" height="auto" alt="Voter" />
      </div>
      <div class="transparent_photo_mobile">
        <img src="../../../../assets/about/VV_FooterBG-AboutUs-Mobile.png" width="auto" height="auto" alt="Voter" />
      </div>
    </div>
  </div>
</div>