@import "../../styles/variables";
@import "../../styles/elements";
@import "../../styles/global";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.about_container{
    padding:20px 40px 0px 30px;
}
.about{
    margin: 20px auto 20px auto;
    text-align:center;
    padding:40px 40px 40px 40px;
    font-weight: 100;
    box-shadow: $vvshadow;
    color:#4E4E4E;
    background-color: #fff;
    h1{
      margin: 0px;
    }
    p{
      margin:10px 0px 20px 0px;
      line-height: 1.4;
    }
    .about_caption{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .orgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        margin: 40px auto 40px auto;
        max-width: 870px;
        row-gap: 20px;
        a{
            font-weight: bold;
        }
        p{ 
            font-size: 14px;
        }
        img{
            margin-bottom: 20px;
            margin-top: 20px;
            max-width: 100%;
        }
    }

    .transparent{
        display:grid;
        grid-template-columns: 1fr 425px;
        padding:0px;

        .transparent_copy{

            text-align: left;
            align-self: center;
            
        }

        h1{
            text-align: left !important;
            align-self: center;
        }

        .transparent_photo{
            align-self: end;
            justify-self: end;
            img{
                transform: translate(40px,45px);
            }
        }
        .transparent_photo_mobile{
            display: none;
            visibility: hidden;
        }
    }

   
    


    @media only screen and (max-width: 1000px) {
        .orgs{
            grid-template-columns: 1fr !important;
            max-width: 600px;
        }
        .transparent{
     
            grid-template-columns: 1fr;

            .transparent_copy{

                text-align: center;
                
            }
            
            .transparent_photo{
                display: none;
                visibility: hidden;
            }
            .transparent_photo_mobile{
                display: inherit;
                visibility: visible;
                align-self: center;
                justify-self: center;
                img{
                    transform: translate(0px,40px);
                    max-height: 400px;
                    width:auto;
                    max-width: 100%;
                }

            }

            h1{
                text-align: center !important;
            }
        }
    }
}