<div class="footer">
  <div>
    <div class="footer_nav">
      <div class="footer_links">
        <a routerLink="/about">About</a>
      </div>
      <div class="footer_links">
        <a routerLink="/faq">FAQ</a>
      </div>
      <div class="footer_links last">
        <a href="https://registertovote.ca.gov/" target="_blank" rel="noopener noreferrer">Register to Vote</a>
      </div>
    </div>
    <div>
      <h3>Brought to you by the Voters' Voice Initiative</h3>
      <p>The San Diego Campaign Finance Dashboard is being developed by volunteers in a non-partisan coalition as a service
        to our community. Data has been gathered from public records posted by the
        <a href="https://efile.sandiego.gov/"
          target="_blank">City of San Diego Electronic Filing System
        </a> in order to create the graphs and summaries for each candidate’s campaign.</p>
    </div>
  </div>
  <div class="footer_logo">
    <img src="../../../assets/home/VV_Logo_Color@2x.png" alt="Voter's Voice Initiative" width="120" height="auto">
  </div>
</div>
