<div class="footer">
  <div>
    <div class="footer_nav">
      <div class="footer_links">
        <a routerLink="/about">About</a>
      </div>
      <div class="footer_links">
        <a routerLink="/faq">FAQ</a>
      </div>
      <div class="footer_links last">
        <a
          href="https://registertovote.ca.gov/"
          target="_blank"
          rel="noopener noreferrer"
          >Register to Vote</a
        >
      </div>
    </div>
    <div>
      <img
        src="../../../assets/home/VV_Logo_Color@2x.png"
        alt="Voter's Voice Initiative"
        width="120"
        height="auto"
      />
      <h3>Brought to you by the Voters' Voice Initiative</h3>
      <p>
        This site was developed as a collaboration between the Voters' Voice
        Initiatives, a non-partisan community group advocating for election
        reform and
        <a
          href="https://opensandiego.org/"
          target="_blank"
          rel="noopener noreferrer"
          >Open San Diego</a
        >, a former brigade of the national, non-partisan Code for America.
        <br /><br />
        In 2025,
        <a
          href="https://representsandiego.org/"
          target="_blank"
          rel="noopener noreferrer"
          >Represent San Diego</a
        >, one of the founders of Voters' Voice assumed sole hosting duties for
        the site. If you find our efforts to bring additional transparency to
        elections in the city of San Diego, please consider a
        <a
          href="https://www.paypal.com/ncp/payment/UVV42QBSGDTT6"
          target="_blank"
          rel="noopener noreferrer"
          >donation to our organization</a
        >.
      </p>
    </div>
  </div>
    <div>
  </div>
</div>
