@import "../../styles/variables";
@import "../../styles/elements";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.candidate-card-expanded {
    padding: 15px 25px 15px 25px;
    margin: 10px;
    text-align: center;
    background: #fff;
    box-shadow: $vvshadow;

    h1 {
        font-size: 20px;
        color: $vvdarkblue;
    }

    h2 {
        font-weight: normal;
        font-size: 12px;
        color: $vvgrey;
        margin: 5px 0px 10px 0px;
    }

    h3 {
        font-size: 18px;
        color: $vvdarkgrey;
    }

    i {
        cursor: pointer;
    }

    .title {
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        color: $vvdarkblue;
    }

    .candidate {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .candidate-image-container {
            height: 125px;
            width: 125px;
        }

        .candidate-image {
            display: flex;
            height: 125px;
            width: 125px;
            border-radius: 50%;
            overflow: hidden;

            img {
  
                object-fit: cover;
                object-position: center top;
                width: 100%;
                height: auto;
                background-color: #ECEFF2;
            }
        }
    }

    .raised-spent {
        .raised-spent-chart {
            padding-top: 20px;
        }

        .raised-spent-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 10px;
        }

        p {
            margin: 0;
        }

        .raised-spent-footer-title {
            font-size: 13px;
        }

        .raised-spent-footer-content {
            font-size: 20px;
            font-weight: bold;
        }

        .donors {
            padding-right: 5px;
        }

        .avg-donation {
            padding-left: 5px;
        }
    }

    .industries {
        .industries-table {
            width: 100%;
            text-align: left;
        }

        .mat-cell {
            font-size: 13px;
            color: $vvgrey;
            padding:8px;
        }

        .mat-cell:last-child {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .outside-money {
        margin: 20px;
        text-align: left;

        p {
            margin-bottom: 5px;
        }

        .content {
            font-size: medium;
        }
    }

    .raised-donors {
        .raised {
            .raised-title {
                margin-bottom: 2px;
                text-align: left;
            }
    
            .raised-amount {
                font-weight: bold;
                text-align: left;
            }
        }

        .donors {
            .donors-title {
                margin-bottom: 2px;
                text-align: left;
            }
    
            .donors-amount {
                font-weight: bold;
                text-align: left;
            }
        }
    }

    .helper-tip {
        color: $vvgrey;
        font-size: 10px;
    }

    .close {
        position: absolute;
        top: 30px;
        right: 45px;
    }
}

.website-link {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: $vvlightblue;

    .mat-icon {
        padding-right: 5px;
    }
}

.full-details-btn {
    @include button-styles;
    padding: 0 16px;
}

.full-details-btn:hover {
    background-color: $vvlightblue;
}

.divider {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 30px 0 10px;
}

.remove-border {
    border: none;
}

// Expanded Card Adjustments for Bigger Screens
@media only screen and (min-width: 992px) {
    .raised-spent {
        padding-top: 30px;
    }

    .oppose-support-chart {
        width: 500px;
        height: 80px;
    }
}

// Expanded Card Adjustments for Smaller Screens
@media only screen and (max-width: 768px) {
    .candidate {
        padding-top: 30px;
    }

    .raised-spent {
        padding-top: 50px;
    }

    .industries {
        padding-top: 30px;
    }

    .in-out-district {
        padding-top: 30px;
    }

    .raised-donors {
        .raised {
            padding-left: 80px;
        }
    }

    .oppose-support {
        padding-top: 25px;

        .oppose-support-chart {
            margin-left: 35px;
            width: 440px;
            height: 80px;
        }
    }
}

::ng-deep .mat-tooltip {
    font-size: 16px;
}
