<div class="candidate-card-expanded">
  <div class="candidate">
    <img src="../../assets/candidate-card/candidate.jpg" alt="just a placeholder image for now">
    <h1>{{ candidate.name }}</h1>
    <h2>{{ candidate.title }}</h2>

    <div class="website-link">
      <mat-icon>link</mat-icon>
      <a href="">Website</a>
    </div>

    <button class="full-details-btn" mat-flat-button>See Full Details</button>
  </div>

  <div>
    <div style="display: block">
      <canvas baseChart
        width="200"
        height="220"
        [chartType]="barChartType"
        [datasets]="barChartData"
        [colors]="barChartColors"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
      ></canvas>
    </div>

    <div class="raised-spent-footer">
      <div>
        <p class="raised-spent-footer-title">Donors</p>
        <p class="raised-spent-footer-content">{{ candidate.donors }}</p>
      </div>

      <div>
        <p class="raised-spent-footer-title">Average Donation</p>
        <p class="raised-spent-footer-content">$200</p>
      </div>
    </div>
  </div>
</div>