@import "../../styles/variables";
@import "../../styles/elements";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.candidate {
    width: 150px;
    padding: 15px 25px 15px 25px;

    img {
        width: 110px;
        border-radius: 50%;
    }
}

.candidate-card-expanded {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 1470px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    background: #fff;
    box-shadow: $vvshadow;

    h1 {
        font-size: 20px;
        color: $vvdarkblue;
    }

    h2 {
        font-weight: normal;
        font-size: 12px;
        color: $vvgrey;
        margin: 5px 0px 10px 0px;
    }

    h3 {
        font-size: 18px;
        color: $vvdarkgrey;
    }

    a { 
        @include button-styles;
        padding: 10px 30px;
        max-width: 200px;
        margin: 10px 0;
    }
    a:hover {
        background-color: $vvlightblue;
    }
}
