<div class="candidate-card-expanded vv-grid">
 
  <div *ngIf="candidateCard" class="candidate-card-container">
    <app-candidate-card
      [candidateCard]="candidateCard" 
      [inExpanded]="true"
      (emitCandidateId)="showFullDetailsClicked($event)"
      ></app-candidate-card>
  </div>

  <app-raised-vs-spent *ngIf="raisedVsSpentData"
    [raised]="raisedVsSpentData.raised"
    [spent]="raisedVsSpentData.spent"
    [averageDonation]="raisedVsSpentData.averageDonation"
  >
  </app-raised-vs-spent>

  <app-donations-by-group *ngIf="donationsByGroupData"
    [donationGroups]="donationsByGroupData.groups"
  >
  </app-donations-by-group>

  <raised-in-out-donut *ngIf="raisedInOutData"
    [inside]="raisedInOutData.inside"
    [outside]="raisedInOutData.outside"
    [areaName]="raisedInOutData.areaName"
    [jurisdiction]="raisedInOutData.jurisdiction"
  >
  </raised-in-out-donut>

  <div class="close">
    <i style="font-size: 25px;" aria-hidden="true" (click)="close()">
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </i>
  </div>

  <div class="outside-money">
    <outside-money-bar *ngIf="outsideMoneyData"
      [support]="outsideMoneyData['support']"
      [oppose]="outsideMoneyData['oppose']"
    >
    </outside-money-bar>
  </div>
</div>
