@import "../../styles/variables";
@import "../../styles/elements";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.candidate-card-expanded {
    padding: 15px 25px 15px 25px;
    width: 95%;
    margin: 10px;
    text-align: center;
    background: #fff;
    box-shadow: $vvshadow;

    h1 {
        font-size: 20px;
        color: $vvdarkblue;
    }

    h2 {
        font-weight: normal;
        font-size: 12px;
        color: $vvgrey;
        margin: 5px 0px 10px 0px;
    }

    h3 {
        font-size: 18px;
        color: $vvdarkgrey;
    }

    .title {
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        color: $vvdarkblue;
    }

    .candidate {
        img {
            width: 120px;
            border-radius: 50%;
        }
    }

    .raised-spent {
        padding-top: 20px;

        .raised-spent-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 10px;
        }

        p {
            margin: 0;
        }

        .raised-spent-footer-title {
            font-size: 13px;
        }

        .raised-spent-footer-content {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .industries {
        .industries-table {
            width: 100%;
        }
    }

    .outside-money {
        margin: 20px;
        text-align: left;

        p {
            margin-bottom: 5px;
        }

        .content {
            font-size: medium;
        }
    }

    .raised-donors {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .raised {
            padding-right: 5px;

            .raised-title {
                margin-bottom: 2px;
                text-align: left;
            }
    
            .raised-amount {
                font-weight: bold;
                text-align: left;
            }
        }

        .donors {
            padding-left: 5px;

            .donors-title {
                margin-bottom: 2px;
                text-align: right;
            }
    
            .donors-amount {
                font-weight: bold;
                text-align: right;
            }
        }
    }
}

.website-link {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: $vvlightblue;

    .mat-icon {
        padding-right: 5px;
    }
}

.full-details-btn {
    width: 140px;
    background-color: $vvblue;
    color: #fff;
}

.divider {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin: 30px 0px;
}
