<div class="candidate-cards p-grid p-justify-left p-nogutter">

  <!-- Expanded Candidate Card -->
  <app-candidate-card-expanded class="p-col-12" *ngIf="isExpanded" [candidate]="candidate" [candidateImg]="candidateImg" (isExpanded)="onClose($event)"></app-candidate-card-expanded>

  <!-- Primary Candidate Card -->
  <div *ngFor="let candidate of candidates; let i = index">
    <app-candidate-card *ngIf="candidate" [candidate]="candidate" [candidateImg]="candidateImages[i]" (emitCandidateData)="setCandidate($event)" (emitCandidateImage)="setCandidateImg($event)"></app-candidate-card>
  </div>

</div>
