<div class="header-nav">
  <i class="bar-toggle" (click)="sideNavToggle()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </i>
  
  <div>
    <img class="logo" src="../../../assets/home/VV_Logo_Reversed@2x.png" alt="Voter's Voice Initiative" width="120" height="auto"
      routerLinkActive="active-link" [routerLink]="homeLink" (click)="resetSidenav()">
  </div>
  <a class="nav_links" routerLink="/about" routerLinkActive="router-link-active" (click)="resetSidenav()">About</a>
  <a class="nav_links" routerLink="/faq" routerLinkActive="router-link-active" (click)="resetSidenav()">FAQ</a>
</div>
