<div class="candidate-card">
  <div class="candidate">
    <img src="../../assets/candidate-card/candidate.jpg" alt="just a placeholder image for now">
    <h1>{{candidate.name}}</h1>
    <h2>{{candidate.title}}</h2>
  </div>
  <div class="candidate-numbers">
    <div class="raised">
      <h2>Raised</h2>
      <h3>${{candidate.raised | number}}</h3>
    </div>
    <div class="donors">
      <h2>Donors</h2>
      <h3>{{candidate.donors}}</h3>
    </div>
  </div>
  <a class="cta">See Details</a>

</div>