@import "../../styles/variables";
@import "../../styles/elements";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    .candidate-image-container {
        height: 125px;
        width: 125px;
    }
    .candidate-image {
        display: flex;
        height: 125px;
        width: 125px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $vvbackground;
        
        img {
            object-fit: cover;
            object-position: center top;
            width: 100%;
            height: auto;
            background-color: $vvbackground;
        }
    }
}

.candidate-card {
    text-align: center;
    height: 300px;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    background: #fff;
    box-shadow: $vvshadow;
    h1 {
        font-size: 20px;
        color: $vvdarkblue;
    }
    h2 {
        font-weight: normal;
        font-size: 12px;
        color: $vvgrey;
        margin: 5px 0px 10px 0px;
    }
    h3 {
        font-size: 18px;
        color: $vvdarkgrey;
    }
    .candidate-numbers {
        display: flex;
        justify-content: space-between;
        div {
            padding: 0 6px;
            h2, h3{
                margin: 1px 0;
            }
        }
        .raised h3 {
            color: $vvgreen;
        }
    } 
    .candidate-button {
        @include button-styles;
        padding: 0 16px;
    }
    .candidate-button:hover {
        background-color: $vvlightblue;
        text-decoration: none;
    }
}
