<div class="hero">
  <div class="splash_nav">
    <div class="fa fa-bars"></div>
    <div class="nav_links"><a href="about">About</a></div>
    <div class="nav_links"><a href="faq">FAQ</a></div>
  </div>
  <div><img class="logo" src="../../../assets/splash/VV_Logo_Reversed@2x.png" alt="Voter's Voice Initiative" width="200" height="auto">
  </div>
  <div>
    <h1 class="headline">Learn how <span class="contribution">$65,000,000</span> in contributions are flowing in San
      Diego’s 2020 Election</h1>
  </div>
  <div class="buttons">
    <a href="">
      <div class="cta">See Mayor Race</div>
    </a>
    <a href="">
      <div class="cta">See City Attorney Race</div>
    </a>
    <a href="">
      <div class="cta">See City Council Race</div>
    </a>
  </div>
  <div class="subheadline">
    <p>A non-partisan initiative to create greater transparency into campaign funding.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. <a href="#about">Learn More</a>
    </p>
  </div>
</div>
<div class="register">
  <h2>Are you registered to vote?</h2>
  <a href="">
    <div class="register_cta">Register Here</div>
  </a>
</div>
<div class="footer">
  <div>
    <div class="footer_nav">
      <div class="footer_links"><a href="about">About</a></div>
      <div class="footer_links"><a href="faq">FAQ</a></div>
      <div class="footer_links last"><a href="register">Register to Vote</a></div>
    </div>
    <div>
      <h3>Brought to you by the Voter’s Voice Initiatives and San Diego’s Public Ethics Commission</h3>
      <p>Campaign finance data brought to you by the San Diego Voter’s Voice Initiative gathered from information posted
        by the City of San Diego for Campaign Finance and Lobbyist Disclosure.</p>
    </div>
  </div>
  <div class="footer_logo"><img src="../../../assets/splash/VV_Logo_Color@2x.png" alt="Voter's Voice Initiative" width="150"
      height="auto"></div>
</div>