
<div class="raised-and-spent-container raised-and-spent-grid">
  <div class="raised-panel">
    <app-details-total-raised
      [localRaisedCategories]="raisedData.localRaisedCategories"
      [totalRaised]="raisedData.totalRaised"
    ></app-details-total-raised>
  </div>
  <div class="spent-panel">
    <app-details-total-spent
      [categoriesTable]="spentData.categoriesTable"
      [totalSpent]="spentData.totalSpent"
      [cashInHand]="spentData.cashInHand"
      [loansAndDebts]="spentData.loansAndDebts"
    ></app-details-total-spent>
  </div>
  <div class="summary-panel">
    <app-details-raised-spent-summary
      [raised]="raisedData.totalRaised"
      [spent]="spentData.totalSpent"
    ></app-details-raised-spent-summary>
  </div>
</div>
