@use "../../styles/variables";
@use "../../styles/elements";
@use "../../styles/global";

.ftm{
  margin: 0px auto 20px auto;
  text-align:center;
  padding:40px 40px 60px 40px;
  font-weight: 100;
  box-shadow: variables.$vvshadow;
  color:#4E4E4E;
  background-color: #fff;
  h1{
    margin: 0px;
  }
  p{
    margin:10px 0px 20px 0px;
    line-height: 1.4;
  }
  .ftm_caption{
    display: block;
    margin:10px auto 20px auto;
  }
}

.sources{
  margin-top:60px;
  font-size:14px;
  a{
    color:variables.$vvlightblue;
  }
  p{
    margin:0px !important;
  }
}
