@import "../../../../styles/variables";
@import "../../../../styles/elements";

:host {
  padding: 0rem;
}

.quick-view-container {
  padding: 15px 25px 15px 25px;
  margin: 10px;
  background: #fff;
  box-shadow: $vvshadow;

  position: relative;
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.quick-view-layout, .items-3-4 {
  display: flex;
  flex-flow: row wrap;
}

.quick-view-layout {

  .item-1 {
    flex: 1 2 auto;
  }
  .item-2 {
    flex: 1 1 auto;
  }

  .items-3-4 {
    flex: 4 2 auto;
    min-height: 100px;
    height: 100%;
  }
  .item-3 {
    flex: 2 1 auto;
  }
  .item-4 {
    flex: 1 2 auto;
  }

}

.item-5 {
  margin-top: 15px;
}

.close fa-icon {
  color: black;

  &:hover {
    color: $vvlightblue;
  }
}
