<div class="header-nav">
  <i class="bar-toggle" (click)="drawer.toggle()">
    <fa-icon [icon]="faBars"></fa-icon>
  </i>
  
  <div>
    <img class="logo" src="../../../assets/home/VV_Logo_Reversed@2x.png" alt="Voter's Voice Initiative" width="120" height="auto"
      routerLinkActive="active-link" routerLink="/" (click)="resetSidenav()">
  </div>
  <a class="nav_links" routerLink="/about" routerLinkActive="router-link-active" (click)="resetSidenav()">About</a>
  <a class="nav_links" routerLink="/faq" routerLinkActive="router-link-active" (click)="resetSidenav()">FAQ</a>
</div>

<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer align="start" disableClose="false">

    <app-candidate-navigation></app-candidate-navigation>

  </mat-drawer>

  <mat-drawer-content class="main_section">
    <router-outlet></router-outlet>
    <footer></footer>
  </mat-drawer-content>
</mat-drawer-container>
