<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/splash">Toolbar/Back to Splash</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="[{ outlets: {sidenav: ['mayor']} }]">Mayor</mat-list-item>
      <mat-list-item [routerLink]="[{ outlets: {sidenav: ['city-attorney']} }]">City Attorney</mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu">
        <span>City Council</span>
        <mat-icon class="menu-button-expand" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
      </mat-list-item>

      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
        <mat-list-item>District 1</mat-list-item>
        <mat-list-item>District 2</mat-list-item>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet name="sidenav"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>