.outside-money-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
}

.content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 5px;
}

.outside-money-chart {
  flex: 1 1 75%;
  min-width: 40%;
  max-width: 100%;

  box-shadow: 1px 0 grey;
  z-index: 2;
}

.expenditures-panel {
  flex: 1 1 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}
