
::ng-deep .p-panelmenu-header {
  background-color: red;
}

::ng-deep .p-panelmenu .p-menuitem-link-active {
  background-color: #125db380;
}

::ng-deep .p-panelmenu .p-panelmenu-header {
  :hover {
	  background-color: #3392ff !important;
    color: white !important;
  }
  :focus {
	  background-color: #125DB3 !important;
    color: white !important;
  }
}

::ng-deep .p-panelmenu .p-menuitem-text {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
}
