<div class="industries">
    <div class="title">
      <p>
        Donations by Group
        <sup>
          <i
            class="helper-tip fa fa-question-circle"
            aria-hidden="true"
            matTooltip="Total contributions from the five largest groups of campaign donors.  Groups are determined by the industry segment of each donor's employer."
          >
          </i>
        </sup>
      </p>
    </div>

  <div>
    <table class="industries-table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="colorCode">
        <th mat-header-cell *matHeaderCellDef>Color Code</th>
        <td [ngClass]="{'remove-border': i == dataSource.data.length - 1}" mat-cell *matCellDef="let element; let i = index" [style.color]="element.colorCode">
          <mat-icon>fiber_manual_record</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef>Industry</th>
        <td [ngClass]="{'remove-border': i == dataSource.data.length - 1}" mat-cell *matCellDef="let element; let i = index">{{ element.industry }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td [ngClass]="{'remove-border': i == dataSource.data.length - 1}" mat-cell *matCellDef="let element; let i = index">{{ element.amount | currency:'USD':'symbol':'1.0-0' }}</td>
      </ng-container>

      <ng-container matColumnDef="percentage">
        <th mat-header-cell *matHeaderCellDef>Percentage</th>
        <td [ngClass]="{'remove-border': i == dataSource.data.length - 1}" mat-cell *matCellDef="let element; let i = index">{{ element.percentage | number:'1.0-0' }}%</td>
      </ng-container>

      
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
