
<div class="outside-money-container"
  [style.backgroundColor]="backgroundColor"
  [style.borderColor]="backgroundColor"
>

  <chart-title
    [titleText]="title"
    [textColor]="textColor"
    [tooltipText]="tooltipText"
    [tooltipColor]="textColor"
  ></chart-title>

  <div class="content">
   <div class="outside-money-chart">
      <gql-support-oppose-bar
        [candidateId]="candidateId"
        [backgroundColor]="backgroundColor"
        [textColor]="textColor"       
      ></gql-support-oppose-bar>
    </div>

    <gql-total-independent-expenditures
      [candidateId]="candidateId"
    ></gql-total-independent-expenditures>
  </div>

</div>
