@import "../../styles/variables";
@import "../../styles/elements";
@import "../../styles/global";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.faq{
        padding:20px 40px 40px 40px;
        margin:20px;
        background-color:#ffffff;
        box-shadow: $vvshadow;

        h1{
            margin:20px 0px 30px 0px;
            text-align: left;
        }

        .fact{
            color: $vvblue;
            font-weight:normal;
            margin-bottom:5px;
            font-size: 18px;
            line-height: 1.4;
            max-width: 800px;
        }

        .answer{
            margin-top:0px !important;
            color: $vvdarkgrey;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 1.4;
            font-weight: 100;
            max-width: 1200px;
        }
       
  
}
