<div class="faq">
  <h1>Frequently Asked Questions</h1>
  <h3 class="fact">Where is this data sourced?</h3>

  <p class="answer">
    All of our data is sourced directly from the
    <a href="https://efile.sandiego.gov/" target="_blank"
      >City of San Diego Electronic Filing System</a
    >. It is our priority to show you unbiased accurate information about
    campaign finance.
  </p>

  <h3 class="fact">How often is this site updated?</h3>

  <p class="answer">
    Our data is pulled from the
    <a href="https://efile.sandiego.gov/" target="_blank"
      >City of San Diego Electronic Filing System</a
    >
    weekly to ensure you are able to see the latest campaign finance data for
    local elections.
  </p>

  <h3 class="fact">Who manages this site?</h3>
  <div class="answer">
    <p>
      This site was developed in 2018 as a collaboration between the Voters'
      Voice Initiatives, a non-partisan community group advocating for election
      reform, and Open San Diego, a former brigade of the national, non-partisan
      Code for America. It was created with the goal of empowering voters by
      providing clear data on how local elections were funded.
    </p>
    <p>
      In 2025, Represent San Diego, one of the founders of Voters' Voice,
      assumed sole hosting duties for the site.
    </p>
    <p>
      In 2026, the League of Women Voters of San Diego expanded the site to
      include charts comparing contributions to candidates and expenditures
      supporting/opposing candidates, by committees not controlled by
      candidates.
    </p>
  </div>

  <h3 class="fact">How do I find out what city council district I am in?</h3>
  <p class="answer">
    Use the city's
    <a
      href="https://sandiego.maps.arcgis.com/apps/instant/nearby/index.html?appid=0c54f0bab6b448e4aa8ec942fdb89b82&sliderDistance=1"
      target="_blank"
      >Find my Council District</a
    >
    tool.
  </p>

  <h3 class="fact">
    What's <strong>not</strong> included in the Contributions to Candidates
    chart?
  </h3>
  <div class="answer">
    <p>
      Candidates who indicate that they do not anticipate raising or spending
      $2,000 or more in a calendar year (by filing FPPC Form 470) are not
      required to report contributions on Form 460.
    </p>
    <p>
      Contributions totaling less than $100 per contributor per calendar year
      are reported in aggregate and are not itemized; accordingly, they are not
      included in geographical breakdowns.
    </p>
  </div>

  <h3 class="fact">What is outside money?</h3>
  <p class="answer">
    Outside money refers to all independent expenditures for or against a
    candidate.
  </p>

  <h3 class="fact">What is an independent expenditure?</h3>
  <p class="answer">
    This refers to money spent on campaign communications (like ads or mailers)
    that is free from contribution limits because the spender operates entirely
    on their own, without consulting the candidate.
  </p>

  <h3 class="fact">
    What is the difference between donating to a candidate's campaign committee
    and donating to an independent expenditure committee supporting the
    candidate?
  </h3>

  <p class="answer">
    Campaign contribution limits are established by municipal code and adjusted
    by the city clerk every two years. Current limits can be found on the San
    Diego City Clerk's
    <a href="https://www.sandiego.gov/city-clerk/city/run" target="_blank"
      >How to Run for Office</a
    >
    webpage. There are no limits to how much money you can donate to an
    independent expenditure committee working separately on behalf of, or
    against, a candidate.
  </p>

  <h3 class="fact">
    What do the red and green spending totals under the candidate photos
    include?
  </h3>
  <p class="answer">
    The green "Spending in support" total is the combination of funds raised by
    the candidate's controlled campaign committee and outside expenditures made
    by independent (non-candidate controlled) committees in support of the
    candidate. The red "Spending in opposition" number tracks money spent by
    independent committees to campaign against candidates.
  </p>

  <h3 class="fact">
    How does this effort help reduce the impact of money on politics?
  </h3>
  <p class="answer">
    Campaign finance disclosure is an essential public accountability mechanism.
    Providing public access to this kind of information about the flow of money
    in elections empowers oversight and accountability in the government
    decision-making process. Data transparency is critical to maintaining public
    trust.
  </p>
</div>
