<div class="faq">
  <h1>Frequently Asked Questions</h1>
  <h3 class="fact">Where is this data sourced?</h3>

  <p class="answer">All of our data is sourced directly from the <a href="https://ssl.netfile.com/static/agency/csd/"
      target="_blank">City of San Diego</a> public records. It is our priority to show you unbiased accurate
    information about campaign finance.</p>

  <h3 class="fact">How often is this site updated?</h3>

  <p class="answer">Our data is pulled from the <a href="https://ssl.netfile.com/static/agency/csd/"
      target="_blank">City of San Diego</a> public records multiple times a week to ensure you are able to see the
    latest campaign finance data for your local elections.
  </p>

  <h3 class="fact">Who manages this site?</h3>
  <p class="answer">This site is a collaboration between the Voters' Voice Initiatives, a non-partisan community group
    advocating for election reform and Open San Diego, a brigade of the national, non-partisan Code for America.
  </p>

  <h3 class="fact">How do I find out what city council district I am in?</h3>
  <p class="answer">You can use our built-in district finder or use the city’s finder.
  </p>

  <h3 class="fact">What is outside money?</h3>
  <p class="answer">Outside money refers to all independent expenditures for or against a candidate.
  </p>

  <h3 class="fact">What is an independent expenditure?</h3>
  <p class="answer">Independent expenditures are campaign contributions for communications that expressly advocate for the election or defeat of a candidate that is not made in cooperation, consultation or concert with; or at the request or suggestion of a candidate, candidate's authorized committee or political party.
  </p>

  <h3 class="fact">What is the difference between donating to a candidate's campaign committee and donating to an independent expenditure committee supporting the candidate?</h3>
  <p class="answer">In the city of San Diego, candidates running for municipal office are subject to campaign finance limits on how much you can donate.  For City Council the limit is $1200 and for Mayor and City Attorney it is currently $2,300.
    There are no limits to how much money you can donate to an independent expenditure committee working separately on behalf of, or against a candidate.
  </p>

  <h3 class="fact">How does this effort help reduce the impact of money on politics?</h3>
  <p class="answer">Campaign finance disclosure is an essential public accountability mechanism.  Providing public access to this kind of information about the flow of money in elections empowers oversight and accountability in the government decision-making process.  Data transparency is critical to maintaining public trust.</p>

  <h3 class="fact">What are Democracy Dollars?</h3>
  <p class="answer">Democracy Dollars are a method of public financing of elections which can be an effective tool to increase voter engagement, expand opportunity for more community members of diverse experience to run for office and combat the rising influence of money on political outcomings.</p>

  <h3 class="fact">How do Democracy Dollars work?</h3>
  <p class="answer">Candidates receive public funds to finance their campaigns for office. In this program each registered voter would receive (4) democracy dollar certificates worth $25 each to give to the candidate(s) of their choice running for Mayor, City Attorney or City Council.<br/><br/>
    Candidates qualify for public funds by raising a threshold number of small donor contributions and agree to forego big dollar contributions. Once qualified, candidates are able to fund their campaign by asking for and receiving Democracy Dollars from the voters.  This ensures that candidates are beholden to the public they represent and voters have a voice in who makes it to the ballot box.
    You can read more about it <a href="https://sdvotersvoice.org/how-does-it-work%3F" target="_blank">here.</a></p>

</div>
