
<div class="raised-spent-container">
  <div class="raised-spent">
    <div class="raised-row">
      <div class="label">Raised:</div>
      <div class="amount">{{formatNumber(raised)}}</div>
    </div>
    <div class="spent-row">
      <div class="label">Spent:</div>
      <div class="amount">{{formatNumber(spent)}}</div>
    </div>
    <mat-divider ></mat-divider>
    <div class="balance-row">
      <div class="label">
        <p>Current<br>Balance:</p>
      </div>
      <div class="amount">{{formatNumber(raised-spent)}}</div>
    </div>
  </div>
</div>
