
<div class="outside-money-container">

  @if (oppositionCommittees && supportCommittees) {
    <outside-money-stacked-bar
      [opposedCommittees]="oppositionCommittees"
      [supportCommittees]="supportCommittees"
      [committeeHighlighted]="hoveredCommittee"
      (committeeHighlightedChange)="committeeHoveredOver($event)"
    ></outside-money-stacked-bar>
  }

  <div class="committee-tables">
    <div class="opposition-panel">
      <div class="heading">
        <fa-icon [icon]="faCircle" [icon]="faCircle" [style.color]="oppositionColor" ></fa-icon>
        {{oppositionExpenditures.title}}
      </div>
      @if (oppositionCommittees) {
        <app-top-categories-table class="opposition-table"
          [categories]='oppositionCommittees'
          [categoryHighlighted]="hoveredCommittee"
          (categoryHighlightedChange)="committeeHoveredOver($event)"
        ></app-top-categories-table>
      }
    </div>

    <div class="support-panel">
      <div class="heading">
        <fa-icon [icon]="faCircle" [style.color]="supportColor" ></fa-icon>
        {{supportExpenditures.title}}
      </div>
      @if (supportCommittees) {
        <app-top-categories-table  class="support-table"
          [categories]='supportCommittees'
          [categoryHighlighted]="hoveredCommittee"
          (categoryHighlightedChange)="committeeHoveredOver($event)"
        ></app-top-categories-table>
      }
    </div>
  </div>

</div>
