
.outside-money-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.committee-tables {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.opposition-panel, .support-panel {
  flex: 1 1 50%;
  padding-left: 5%;
  padding-right: 5%;


  display: flex;
  flex-direction: column;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

fa-icon {
  font-size: 10px;
  margin-right: 10px;
}

.p-accordionpanel {
  box-shadow: none;
  overflow: hidden;
}

.p-accordionheader {
  background-color: #f5f5f5;
  color: #495057;
  font-weight: 500;
}

.p-accordionpanel:last-child {
  border-width: 1px;
  border-style: solid;
  border-color: #CBD5E1;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.heading {
  padding-top: 1.25rem !important;
  color: #495057;
  font-weight: 400;
}
