
<div class="outside-money-container">

  @if (committeesFound && oppositionCommittees && supportCommittees) {
    <outside-money-stacked-bar-v2
      [opposedCommittees]="oppositionCommittees"
      [supportCommittees]="supportCommittees"
      [committeeHighlighted]="hoveredCommittee"
      (committeeHighlightedChange)="committeeHoveredOver($event)"
    ></outside-money-stacked-bar-v2>
  }

  <p-accordion >
    <p-accordion-panel value="0" [disabled]="!committeesFound">
      <p-accordion-header>{{accordionTitle}}</p-accordion-header>

      <p-accordion-content>
        <div class="committee-tables">
          @if (oppositionCommittees?.length > 0) {
            <div class="opposition-panel">
              <div class="heading">
                <fa-icon [icon]="faCircle" [icon]="faCircle" [style.color]="oppositionColor" ></fa-icon>
                {{oppositionExpenditures.title}}
              </div>
              @if (oppositionCommittees) {
                <app-top-categories-table class="opposition-table"
                  [categories]='oppositionCommittees'
                  [categoryHighlighted]="hoveredCommittee"
                  (categoryHighlightedChange)="committeeHoveredOver($event)"
                ></app-top-categories-table>
              }
            </div>
          }

          @if (supportCommittees?.length > 0) {
            <div class="support-panel">
              <div class="heading">
                <fa-icon [icon]="faCircle" [style.color]="supportColor" ></fa-icon>
                {{supportExpenditures.title}}
              </div>
              @if (supportCommittees) {
                <app-top-categories-table  class="support-table"
                  [categories]='supportCommittees'
                  [categoryHighlighted]="hoveredCommittee"
                  (categoryHighlightedChange)="committeeHoveredOver($event)"
                ></app-top-categories-table>
              }
            </div>
          }
        </div>
      </p-accordion-content>

    </p-accordion-panel>
  </p-accordion>

</div>
