@import "../../styles/variables";
@import "../../styles/elements";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

i {
    cursor: pointer;
}

.title {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: $vvdarkblue;
}

.chart-container{
    position: relative; 
    height:20vh; 
    width:20vw;
    margin:auto;
}

.helper-tip {
    color: $vvgrey;
    font-size: 10px;
}


// Expanded Card Adjustments for Smaller Screens
@media only screen and (max-width: 1200px) {
   .in-out-district{
       margin-bottom:40px;
   }
   .chart-container{
        height:20vh !important; 
        width:60vw !important;
    }
    .chart-container-raised{
        height:25vh !important; 
        width:60vw !important;  
    } 
}

::ng-deep .mat-tooltip {
    font-size: 16px;
}
