<div class="in-out-district">

  <div class="title">
    <p> {{title}}
      <sup>
        <i
          class="helper-tip"
          aria-hidden="true"
          [matTooltip]="tooltipText"
        >
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
        </i>
      </sup>
    </p>
  </div>

  <div class="chart-container">
    <canvas #canvas baseChart 
      width="260" 
      height="260"
      [chartType]="doughnutChartType"
      [datasets]="doughnutChartData"      
      [options]="doughnutChartOptions"
      [colors]="doughnutChartColors"
      [plugins]="chartPlugins"
    > </canvas>
  </div> 
</div>
