
<div class="details-raised-by-industry-wrapper">
  <div class="raised-by-industry-header-wrapper">

    <app-details-tab-title
      [smallTitleText]="title.top"
      [largeTitleText]="title.bottom"
      [tooltipText]="title.tooltipText"
    ></app-details-tab-title>

    <div class="sort-options">
      <label class="label">Sort</label>
      <div class="buttons">

        <button mat-flat-button 
          *ngFor="let sortButton of sortButtons"
          [color]="(sortOrder === sortButton.order) ? 'primary' : ''" 
          (click)="onSort(sortButton.order)" 
        >
        {{sortButton.text}}
        <fa-icon [icon]="sortButton.icon"></fa-icon>
       </button>

      </div>
    </div>
  </div>
  <div class="raised-by-industry-chart">
    <app-raised-by-industry-bar
      [raisedByIndustries]="raisedByIndustries"
      ></app-raised-by-industry-bar>
  </div>
</div>
