<h2>San Diego City</h2>

<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Elections</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <campaign-election-viewer
      (selectedElectionIdEvent)="setId($event)"
    ></campaign-election-viewer>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Offices/Candidates
          <span *ngIf="selectedElection.selected"> for {{selectedElection.name}}</span>
        </h3>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
    <campaign-candidate-viewer
      [electionID]="selectedElection.id"
    ></campaign-candidate-viewer>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Committees</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- content -->
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Fillings</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-election-filing-updater></app-election-filing-updater>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Transactions</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- content -->
  </mat-expansion-panel>

</mat-accordion>
