<div class="splashpage">
    <splash-hero></splash-hero>
  <div class="ftm">
    <h1>Follow the Money</h1>
    <p class="ftm_caption">See how local campaigns are financed so you can be informed before you vote.</p>
    <div class="choose">
        <div>
            <h2 class="racename">Mayor</h2> 
            <a class="cta" routerLinkActive="active-link" routerLink="/office/mayor" (click)="selectOffice('mayor')">
                <fa-icon [icon]="faUniversity"></fa-icon>
                See Candidates
            </a>
            <p class="raised">Total Raised</p>
            <h3 class="amount_raised">${{ campaignTotals.mayor | roundCurrencyDisplay: 1 }}</h3>
            <p class="candidate_num">Candidates</p>
            <h3>{{ candidateCounts.mayor }}</h3>
        </div>
        <div>
            <h2 class="racename">City Attorney</h2> 
            <a class="cta" routerLinkActive="active-link" routerLink="/office/city-attorney" (click)="selectOffice('city-attorney')">
                <fa-icon [icon]="faBalanceScale"></fa-icon>
                See Candidates
            </a>
            <p class="raised">Total Raised</p>
            <h3 class="amount_raised">${{ campaignTotals.cityAttorney | roundCurrencyDisplay: 1 }}</h3>
            <p class="candidate_num">Candidates</p>
            <h3>{{ candidateCounts.cityAttorney }}</h3>
        </div>
        <div>
            <h2 class="racename">City Council</h2> 
            <a class="cta" routerLinkActive="active-link" routerLink="/office/city-council" (click)="selectOffice('city council')">
                <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                Choose District
            </a>
            <p class="raised">Total Raised</p>
            <h3 class="amount_raised">${{ campaignTotals.cityCouncil | roundCurrencyDisplay: 1 }}</h3>
            <p class="candidate_num">Candidates</p>
            <h3>{{ candidateCounts.cityCouncil }}</h3>
        </div>
    </div>
    <div class="sources"><p>All of our data is sourced directly from the <a href="https://ssl.netfile.com/static/agency/csd/" target="_blank">City of San Diego</a> public records.</p></div>

</div>
 
</div>