
<div class="total-raised-chart-panel">

  <div class="total-raised-header">
    <div class="title">Total Raised</div>
    <div class="total"
      [style.color]="totalContributionsTextColor"
    >{{totalRaisedFormatted}}</div>
  </div>

  <total-raised-bar class="total-raised-chart"
    *ngIf="raisedCategories"
    [raisedCategories]="raisedCategories"
  ></total-raised-bar>

  <div class="total-raised-footer">
    <div>
      <i
        class="tooltip-text"
        aria-hidden="true"
        [matTooltip]="tooltipText" 
      ><fa-icon [icon]="faQuestionCircle"></fa-icon>
      </i>
    </div>
  </div>

</div>
