
.details-total-spending-wrapper{
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.total-spent-chart-panel, .total-spent-table-panel {
    flex: 1 1 50%;
}

.total-spent-chart-panel {

  display: flex;
  flex-direction: column;

  .total-spent-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    .total-spent {
      color: red;
    }
  }

}


.total-spent-table-panel{
  display: flex;
  flex-direction: column;
}

.total-spent-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.total-spent-cash-n-debts{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .amount{
    font-size: .8em;

  }
  .label{
    font-size: .6em;
  }

  .cash-in-hand {
    margin-right: 1em;
    fa-icon {
      color: green;
    }
  }

  .loans-and-debts {
    fa-icon {
      color: darkorange;
    }
  }

  fa-icon {
    margin-right: .4em;
  }

}

.tooltip-text {
  color: #0077ff;
  font-size: 1.1em;
  padding: 0px 5px 5px 0px;
}

@media (min-width: 1600px) {
  .details-total-spending-wrapper{ 
    flex-direction: column;
    flex-wrap: nowrap;
  }
}