/* You can add global styles to this file, and also import other style files */

@use "./tailwind.css";
@use "app/styles/variables";
@use "app/styles/elements";
@use "app/styles/global";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
