@use "../../styles/variables";
@use "../../styles/elements";
@use "../../styles/global";

.footer {
  display: grid;
  grid-template-columns: 3fr auto;
  padding: 40px 40px 40px 40px;
  color: variables.$vvdarkblue;
  border:none;
  background-color: variables.$vvbackground;

  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-right: 40px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 600px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .footer_links {
    margin: 20px 20px 20px 0px;
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: variables.$vvblue;

    .footer_logo {
      align-self: center;
      justify-self: center;
      margin-right: 20px;
    }

    .updated{
    color: variables.$vvgreen;
    font-style: italic;
    font-size: 12px;
    }

    :hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 636px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;

    h3 {
      font-size: 14px;
      margin-right: 0px;
    }

    p {
      margin-right: 0px;
    }

    .last {
      margin-right: 0px !important;
    }
  }
}
