name: Test Build  
on: 
  pull_request:
    branches: [ dev, github-actions ]

jobs:
  deploy: 
    runs-on: ubuntu-latest
    name: Running NPM Build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm ci
      - run: npm run update-data
      - run: npm run build
