name: Firebase Prod Deployment
on: 
  push:
    branches: [ master ]

jobs:
  deploy: 
    name: Deployment to Firebase
    if: github.repository == 'opensandiego/sdvv-frontend'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm ci

      - name: Building
        run: npm run build

      - name: Deploying to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting --project=production
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN_PROD }}
