
.raised-and-spent-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1 1 1;

  row-gap: 15px;
  column-gap: 15px;
  background-color: #ECEFF2;
}

.raised-panel, .spent-panel, .summary-panel {
  background-color: white;  
  padding: 15px;
  margin: 10px;
}

.raised-panel {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.spent-panel {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.summary-panel {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}


@media (min-width: 1500px) {
  .raised-and-spent-grid{
    .raised-panel {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    
    .spent-panel {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    
    .summary-panel {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

@media (min-width: 1600px) {
  .raised-and-spent-grid{
    .raised-panel {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    
    .spent-panel {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    
    .summary-panel {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }
}
